.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    padding-top: 0px;
    padding-bottom: 0px;
}

.select2 {
    height: 46px !important;
    border-radius: 8px !important;
    border: 1px solid var(--color-border);
    margin-bottom: 0px;
}

.for-part .select2 {
    border-radius: 8px 0px 0px 8px !important;
}

.select1_inner.multiple .select2 {
    height: 82px !important;
    overflow: hidden;
}

.select2 .selection {
    display: inline-flex;
    height: 100%;
    align-items: center;
    width: 100%;
}

.select1_inner:after {
    display: none;
}

.select2-results__option {
    padding: 10px 20px 10px 20px;
    text-align: left;
}

.select2-container--default .select2-selection--single {
    width: 100%;
}

.form-select {
    max-width: 100%;
    padding: 18.5px 20px;
    background-color: var(--color-layout);
    display: block;
    width: 100%;
    line-height: 1.5em;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-layout-text-dim);
    background-image: none;
    height: 46px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 8px;
    border: 1px solid var(--color-border);
    outline: none;
    box-shadow: none !important;
}

.for-part .form-select {
    border-radius: 8px 0px 0px 8px !important;
}

.select1_wrapper.for-part {
    min-width: 100px;
}

.form-select.for-bmi {
    max-width: 90%;
    text-align: center;
    border-radius: 20px;
    border-color: var(--color-primary);
    margin-top: 8px;
    font-weight: 500;
    font-size: 15px;
}
